.mainbg{
    background-color: #060606f5;
    margin: -50px;
    
}

body {
    overflow-x: hidden;
  }
  
.hello{
    font-size:40px;
    color: aliceblue;
    width: 26%;
    margin-top: 50px;
}


.name{
    font-size:50px;
    color:#fa5252;

}

.parent{
    padding: 155px;
    background-color: black;
    height: 377px;
}
.list{
    font-size:25px;
    color: aliceblue;
    width: 50%;
    margin-top: 20px;
}

.pers{
    float:right;
    height: 250px;
    margin-top: -20px;
}

.icon {
    color: aliceblue;
    font-size: 20px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
}


.icon2{
    color: aliceblue;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.content{
    color: #fa5252;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px; 
    margin-top: 30px;
    
}

.content1{
    color: #fa5252;
    margin-left: 90px;
    font-size: 30px;

}
.content2{
    color: #fa5252;
    margin-left: 90px;
    font-size: 30px;

}
.content3{
    color: #fa5252;
    margin-left: 80px;
    font-size: 40px;
    margin-top: px;
}

.ic{
    padding: 60px;
}

.edu{
    color: aliceblue;
    font-size: 20px;
    margin-left: 300px;
    line-height: 2.0;
}

.border{
    border: outset;
    border-radius: 10px;
    border-color: #fa5252;
    padding: 10px;
    margin-top: 50px;
}